<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

HELLO WORLD !!!!
<br>
ЧАТЬ НЕ ЛЯКАЙТЕСЬ !

{{#each users}}
    <div> {{this.name}} </div>
    <div style="background-color: aqua"> {{this.age}} </div>
    this = arr[i] // ТО Є ПІДКАЗКА ДЛЯ ВАС, ЧАТ
{{/each}}

</body>
</html>